<h2>Blog Posts</h2>

<% @blogs.each do |blog| %>
  <ul>
		<li><%= image_tag(blog.photos.last.attachment.url(:tiny), :class => "wrapped_image") %></li>
    <li>
			<h4>
				<%= (blog.title).titleize %>
			</h4>
		</li>
    <li><%= (blog.description).titleize %></li>
    <li>
			<%= link_to 'Show', blog %> | <%= link_to 'Edit', edit_blog_path(blog) %> | <%= link_to 'Destroy', blog, :confirm => 'Are you sure?', :method => :delete %> | <%= link_to 'New Blog', new_blog_path %>
		</li>

  </ul>
<hr />
<% end %>


