<div class="admin_segment">
  <h3>Additional Products</h3>
  <div class="table_actions">
    <%= link_to 'Add Items', new_product_path, :class => "admin_btn right" %>
  </div>
  <table id="dashboard_products_table" class="display">
    <thead>  
      <tr>
        <th>Image</th>
        <th>Item Name</th>
        <th>Price</th>
        <th>Unit No.</th>
        <th>Description</th>
				<th>List Order No.</th>
        <th>Edit Item</th>
        <th>Delete Item</th>
      </tr>
    </thead>

    <tbody>
      <% products.each do |product| %>
			<% unless product.blank? %>
        <tr class="delete_parent">
          <td><%= image_tag(product.photos.last.attachment.url(:tiny)) %></td>
          <td><%=h (product.item_name).titleize %></td>
          <td><%=h number_to_currency(product.price) %></td>
          <td><%=h product.unit_number %></td>
          <td><%=h truncate(product.description, :length => 200) %></td>
					<% if product.monitoring_addon %>
					<td><%=h product.list_order %> - M</td>
					<% else %>
					<td><%=h product.list_order %></td>
					<% end %>
          <td><%= link_to 'Update Items', edit_product_path(product), :class => "update" %></td>
          <td><%= link_to 'Delete Items', product, :confirm => 'Are you sure?', :method => :delete, :class => "delete delete_link" %></td>
        </tr>
			<% end %>
      <% end %>
    </tbody>
  </table>
</div>