<%= form_for(@admin_session) do |f| %>
  <%= render :partial => 'layouts/form_errors', :locals => {:obj => @admin_session} %>
  <div class="form_field">
    <%= f.label :username %><br/>
    <%= f.text_field :username %>
  </div>
  <div class="form_field">
    <%= f.label :password %><br/>
    <%= f.password_field :password %>
  </div>
  <div class="form_buttons">
    <%= f.submit "Login" %>
  </div>
<% end %>