<% content_for :headmeta do %>
  <%= render partial: 'users/alarm_dot_com_script' %>
<% end %>
<% content_for :sidebar do %>
  <%= render partial: 'users/dashboard_sidebar' %>
<% end %>
<div id="notification_header">
	<%= render partial: 'carts/addon_cart', locals: {cart: @cart, package: @package} %>
	<%= clear %>
</div>
<div id="internal_content">
	<div id="add_ons">
	<%# Category 2 %>
	<%= render partial: 'products/category_2', locals: {package: @package, cart: @cart, title: "Remote Control Devices"} %>

	<%# Category 3 %>
	<%= render partial: 'products/category_3', locals: {package: @package, cart: @cart, title: "Remote Control Upgrades"} %>

	<%# Category 4 %>
	<%= render partial: 'products/category_4', locals: {package: @package, cart: @cart, title: "Additional Devices"} %>
	<%= clear %>
	<h5 class="inline_notice bottom_hr">**Only one Interactive Service is required for your system, Basic or Advanced depending on which features you would like to have.</h5>

	</div>
</div>