<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Castle Protection, Inc. - Order Submission</title>
  <style>
  body {
    background: #ececec;
  	font-family: 'Helvetica', 'Arial', sans-serif;
  	margin: 0px;
  }
  p, tr { font-size: 14px; color: #777777; }
  </style>
</head>
<body style="font-family:'Helvetica', 'Arial', sans-serif;" >
  <!-- Setup centered table -->
  <table style="width: 100%;" bgcolor="#ececec" border="0" cellpadding="0" cellspacing="0">
    <tbody>
      <tr style="font-size: 14px; color: #777777;">
        <td align="center">
          <table style="width: 660px;" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <tr style="font-size: 14px; color: #777777;" bgcolor="#ffffff">
                <td>
                  <img style="width: 660px; height: 122px;" src="http://dl.dropbox.com/u/3105141/HCICDN/email/castle/email/email_header.png" align="center" border="0" height="122" width="660" />
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr style="border: 1px solid #f0f0f0; font-size: 14px; color: #777777;">
        <td align="center">
          <table style="width: 660px;" bgcolor="#e3e3e3" border="0" cellpadding="10" cellspacing="0">
            <!-- Title -->
            <tbody>
            <!-- First Paragraph -->
              <tr style="font-size: 14px; color: #777777;">
                <td colspan="6" align="left">
                  <h1 style="margin-top: 0px; margin-bottom: 10px; margin-right: 30px; margin-left: 30px; line-height: 1.3em; font-size: 20px; color: #333;" >Castle Protection Add On Order Submission</h1>
                  
                  <h2 style="margin-top: 10px; margin-bottom: 10px; margin-right: 30px; margin-left: 30px; line-height: 1.3em; font-size: 16px; color: #444;" >
                    Order Date: <%= (@order.created_at).strftime("%m/%d/%Y") %>
                  </h2>
                  <h2 style="margin-top: 0px; margin-bottom: 10px; margin-right: 30px; margin-left: 30px; line-height: 1.3em; font-size: 16px; color: #444;" >
                    New Invoice Amount: $<%= @new_plan_amount %>
                  </h2>
                  <h2 style="margin-top: 0px; margin-bottom: 10px; margin-right: 30px; margin-left: 30px; line-height: 1.3em; font-size: 16px; color: #444;" >
                    Old Invoice Amount: $<%= @old_plan_amount %> ** Old Amount will be prorated.
                  </h2>
                  <h2 style="margin-top: 0px; margin-bottom: 10px; margin-right: 30px; margin-left: 30px; line-height: 1.3em; font-size: 16px; color: #444;" >
                    Invoice ID: <%= @order.stripe_invoice_id %>
                  </h2>
                  
                  <h2 style="margin-top: 10px; margin-bottom: 10px; margin-right: 30px; margin-left: 30px; line-height: 1.3em; font-size: 16px; color: #fff;" >Customer Info:</h2>
                  <ul style="margin-top: 0px; margin-bottom: 10px; margin-right: 30px; margin-left: 30px; line-height: 1.3em; font-size: 14px; color: #777777;">
                    <li>First Name: <%= @user.first_name %></li>
                    <li>Last Name: <%= @user.last_name %></li>
                    <li>Email: <%= @user.email %></li>
                    <li>
                      Address: <%= @user.billing_record.address %><br/>
                      <%= @user.billing_record.city %> <%= @user.billing_record.state.full_name %>, <%= @user.billing_record.billing_zip %>
                    </li>
                    <li>Phone: <%= @user.phone %></li>
                  </ul>
                </td>
              </tr>
              <tr bgcolor="#264699">
                <td>
                  <p style="margin-top: 0px; margin-bottom: 10px; margin-right: 30px; margin-left: 30px; line-height: 1.3em; font-size: 14px; color: #8ab9ea;">
                    &copy; Copyright <%= Time.now.year %> <%= APP["app_name"] %>.
                  </p>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>
</html>