<p>When you receive your equipment, you will be provided with login information to the <%= alarm_dot_com_link %> website for your interactive features. You may log in at <%= alarm_dot_com_link %>, or log in below and you will be taken to <%= alarm_dot_com_link %>.</p>
<form action="https://www.alarm.com/login.asp" method="POST" name="loginForm" onSubmit="javascript:doLoginTimeChecks();">
      <input type="hidden" name="JavaScriptTest" value="">
      <input type="hidden" name="cookieTest" value="">
      <input type="hidden" name="loginFolder" value="<%= SITE_URL + 'user-dashboard' %>">
      <div id="divAlarmMessage" style="color: Red;">          
      </div> 
      <script language="javascript">
          showAlarmLoginMessage()
      </script>
      <div class="field">
        <%= label_tag "Login" %>
        <%= text_field_tag :login, nil, id: 'login' %>
      </div>
      <div class="field">
        <%= label_tag "password" %>
        <%= password_field_tag :password, nil, id: 'password' %>
      </div>
      <script language="javascript">
          LoadRememberedLoginName()
      </script>
      <!-- End of Remember Me  -->

     <input type="submit" value="Login" class="button blue_button right" />
</form>