<% content_for :headmeta do %>
  <%= render partial: 'users/alarm_dot_com_script' %>
<% end %>

<% content_for :sidebar do %>
  <%= render partial: 'users/dashboard_sidebar' %>
<% end %>
<%= render partial: 'layouts/internal_notifications' %>
<div id="internal_content">

    <% if unassigned_products(current_user.order_products) %>
      <ul class="product_listings">
        <header>Unassigned Products</header>
        <% current_user.order_products.each do |op| %>
          <% unless op.has_location? %>
            <%= render partial: 'products/listed_dashboard_product', locals: {product: op.product, order_product: op} %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
         
      <ul id="assigned_products" class="product_listings <%= "hidden" unless assigned_products(current_user.order_products) %>">
        <header>Assigned Products</header>
        <% current_user.assigned_products.each do |order_product| %>
          <%= render partial: 'products/listed_dashboard_product', locals: {product: order_product.product, order_product: order_product} %>
        <% end %>
        <% index = 1 %>
        <%= form_tag send_location_assignments_path do %>
          <% current_user.assigned_products.each do |ap| %>
            <%= hidden_field_tag "[assigned_products][#{index}][product_id]", ap.id %>
            <% index += 1 %>
          <% end %>
          <span id="added_products"></span>
          <li id="assigned_submit" class="listed_product">
            <header class="listed_section">Submit Assigned Products to <%= APP['app_name'] %> for programming.</header>
            <div class="listed_section assigned_submit_button"><%= submit_tag "Send Items", id: "assigned_products_submit", class: "button red_button" %></div>
          </li>
        <% end %>
      </ul>

    <% if finalized_items(current_user.order_products) %>
      <ul class="product_listings">
        <header>Finalized Products</header>
        <% current_user.order_products.each do |op| %>
          <% if op.is_finalized? %>
            <%= render partial: 'products/listed_dashboard_product', locals: {product: op.product, order_product: op} %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
</div>


<% content_for :javascripts do %>
  <script type="text/javascript">
    $(document).ready(function() {
      Forms.resetAssignedSubmitButton();
      Forms.assignedProductsSubmitButton();
      Forms.submitLocationFormElements();
    });
  </script>

<% end %>