<% content_for :sidebar do %>
  <%= render partial: 'users/dashboard_sidebar' %>
<% end %>
<%= render partial: 'layouts/internal_notifications' %>
<div id="internal_content">

    <% if unassigned_products(@order_products) %>
      <ul class="product_listings">
        <header>Unassigned Products</header>
        <% @order_products.each do |op| %>
          <% if op.has_location? %>
            <%= render partial: 'products/listed_dashboard_product', locals: {product: op.product, order_product: op} %>
          <% end %>
        <% end %>
      </ul>
    <% end %>
    
    <% if assigned_products(@order_products) %>
      <ul class="product_listings">
        <header>Assigned Products</header>
        <% @order_products.each do |op| %>
          <% if op.is_assigned? %>
            <%= render partial: 'products/listed_dashboard_product', locals: {product: op.product, order_product: op} %>
          <% end %>
        <% end %>
        <li id="assigned_submit" class="listed_product">
          <header class="listed_section">Submit Assigned Products to Castle LLC for programming.</header>
          <div class="listed_section assigned_submit_button"><%= link_to "Send Items", send_assigned_items_path, class: "button blue_button" %></div>
        </li>
      </ul>
    <% end %>

    <% if finalized_items(@order_products) %>
      <ul class="product_listings">
        <header>Finalized Products</header>
        <% @order_products.each do |op| %>
          <% if op.is_finalized? %>
            <%= render partial: 'products/listed_dashboard_product', locals: {product: op.product, order_product: op} %>
          <% end %>
        <% end %>
      </ul>
    <% end %>

</div>