<div class="full_row">
	<div class="column_13">
			<h3>
				<%= blog.title %>
			</h3>
				<%= image_tag(blog.photos.last.attachment.url(:thumb)) %>
			<p>
				<%= truncate(blog.description, :length => 250, :separator => '') %> <%= link_to "read more", blogs_path %>
			</p>
	</div>
	<div class="column_23 column_right">
		<%= render partial: 'sub_boxes/bullet_list' %>
	</div>
</div>