<% content_for :sidebar do %>
  <%= render partial: 'users/dashboard_sidebar' %>
<% end %>
<%= render partial: 'layouts/internal_notifications' %>
<div id="internal_content">
  <ul class="product_listings">
    <header>Recent Orders</header>
    <% @orders.each do |order| %>
      <li class="listed_product">
        <header class="listed_section"><%= order.order_owner %></header>
        <div class="listed_section product_description">Order Number: <%= order.stripe_invoice_id %></div>
        <div class="listed_section product_location"><%= order.order_date %></div>
      </li>
    <% end %>
  </ul>
  <ul class="product_listings">
    <header>Recent Invoices</header>
    <% @invoices.data.each do |invoice| %>
      <li class="listed_product">
        <header class="listed_section">Invoice Date: <%= DateTime.strptime(invoice.date.to_s,'%s').strftime("%m/%d/%Y") %></header>
        <div class="listed_section product_description">Invoice Number: <%= invoice.id %></div>
        <div class="listed_section product_location">Invoice Amount: <%= invoice_amount(invoice) %></div>
      </li>
    <% end %>
  </ul>
</div>
