<div class="checkout">
  <div class="full_row">
    <h2 class="page_header">Castle Protection Order Processing</h2>
  </div>
  <div class="full_row no_top">
      <%= render partial: 'orders/order_sidebar', locals: {package: @package, cart: @cart} %>
      <div id="signup_form" class="column_23">
        <%= form_for(@order, :method => "post") do |f| %>
          <%= render partial: 'products/user_interactive_product_fields', locals: {package: @package, cart: @cart} %>
          <%= render partial: 'products/ordered_products_fields', locals: {package: @package, cart: @cart} %>
          <%= render partial: 'products/dependent_products_fields', locals: {package: @package, cart: @cart} %>
          <%= fields_for @user do |user| %>
            <div class="form_segment bottom_hr">
              <h3>
                Account Information
              </h3>
              <%= render partial: 'orders/user_info', locals: {user: user} %>
            </div>
          <% end %>
          <%= fields_for :billing_record do |br| %>
            <div class="form_segment top_hr bottom_hr">
              <h3>
                Account/Billing Address
              </h3>
              <div id="billing_address" class="purchase_form">
                <%= render partial: 'orders/user_address', locals: {br: br} %>
              </div>
            </div>
          <% end %>
          <%= fields_for :additional_service_record do |sr| %>
            <div class="form_segment top_hr bottom_hr">
              <h3>
                Additional Account Information
                <div class="inline_checkbox">
                  <%= check_box_tag :same_as_billing %>
                  <%= label_tag :same_as_billing, "Service Address same as Billing" %>
                </div>
              </h3>
              <div id="additional_records" class="purchase_form">
                <%= render partial: 'orders/additional_service_record', locals: {sr: sr} %>
              </div>
            </div>
          <% end %>          
          <div class="form_segment top_hr bottom_hr">
            <h3>
              Billing Information: - SECURE
            </h3>
            <div class="purchase_form">
              <%= f.hidden_field :stripe_card_token %>  
              <%= fields_for :credit_card do |cc| %>
                <div class="field">
                  <%= label_tag "Card Number"  %>
                  <%= cc.text_field :card_number, :class => "card-number tool_tip validate(required)", :title => "Valid Credit Card Number" %>
                </div>
                <div id="cvv_form">
                  <%= label_tag "CVV" %><br/>
                  <%= cc.text_field :verification_value, :size => 4, :class => "card-cvc tool_tip validate(required, rangelength(3,4), number )" %>
                  <%= render :partial => 'layouts/cc_badge' %>
                </div>
                <div class="clear"></div>
                <div id="date_select" class="field">
                    <%= label_tag "Expiration Date" %>
                    <%= cc.select :month, (1 .. 12).collect { |m| [m.to_s.rjust(2,"0"),m] }, :prompt => "Mo.", :class => "card-expiry-month" %>
                    <%= cc.select :year, (Time.now.year .. 10.years.from_now.year), :prompt => "Yr.", :class => "card-expiry-year" %>
                </div>
                <div class="field">
                    <%= label_tag "Card Type" %>
                    <%= cc.select :type, [['Visa', 'visa'], ['MasterCard', 'master'], ['American Express', 'american_express'], ['Discover']], :prompt => 'Select Card Type'%>
                </div><!-- / -->
                <div class="field">
                  <h5><%= f.check_box :terms, {} %> Terms of Agreement</h5>
                  <p>by checking this box i have read and agree to the <%= link_to "terms of agreement", terms_path, :class => "tool_tip ", :title => "You must accept the terms of agreement.", :target => "_blank" %> and a 4 year service contract.</p>
                </div>
                <div class="field">
                  <h5><%= f.check_box :restricted_aware, {} %> Location Aware</h5>
                  <p>by checking this box I acknowledge that I'm aware of the states Castle Protection, Inc. services </p>
                </div>                
              <% end %>
            </div>
          </div>
          <div class="form_segment top_hr">
            <div class="state_disclaimer">Reminder - <%= APP['app_name'] %> currently only serves these states. <%= APP['service_states'] %>.</div>
            <%= f.submit "Setup Account", id: "order_submit", class: "button red_button right custom_text" %>
          </div>
        <% end %>
      </div>
  </div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      Stripe.setPublishableKey("<%= APP['stripe_publish_key'] %>");
      Forms.initForms(<%= (@cart.total_price).to_i %>);
      Forms.resetSubmitButton();
      Forms.orderSubmitButton();
      Forms.sameServiceCheckboxToggle();
    });
  </script>
<% end %>