<div class="checkout">
  <div class="full_row">
    <h2 class="page_header">Your order has been completed.</h2>
  </div>
  <div class="full_row no_top">
    <ul>
      <li>RefNo: <%= params[:RefNo] %></li>
      <li>Notes: <%= params[:Notes] %><li>
      <li>RecurringID: <%= params[:RecurringID] %></li>
      <li>action: <%= params[:action] %></li>
      <li>controller: <%= params[:controller] %></li>
    </ul>
  </div>
</div>