<div class="checkout">
  <div class="full_row">
    <h2 class="page_header">Castle Protection Order Processing</h2>
  </div>
  <div class="full_row no_top">
  		<div class="column_3 product_wrap">	
  			<h3>
  				<%= (@package.name).titleize %>
  			</h3>	
  			<%= image_tag(@package.photos.last.attachment.url(:thumb), :class => "blue_bg") %>
  			<div class="top_hr bottom_hr"> 
    			<h5>This System Comes Standard With:</h5>
        	<h3>Items included in system:</h3>
            <ul class="package_bullets">
            	<li>(1) - Alarm Keypad/Control Panel</li>
            	<% @package.packaged_products.each do |pp| %>
            	  <li>(<%= pp.included_amount %>) - <%= pp.product.item_name %></li>
            	<% end %>
            </ul>
          <p class="money blue_text bottom_hr">
  				  Price: <%= number_to_currency(@package.price) %>/Month
  			  </p>
  			</div>
				<% unless @cart.items.empty? %>
    		  <div class="top_hr bottom_h">
    		    <h3>System Add Ons</h3>
      		  <ul>
                <% @cart.items.each do |p| %>
                <li>(<%= link_to p.quantity, remove_item_path(:product_id => p.cart_item, :page => "order"), :class => "tool_tip", :title => "Remove Item" %>) <%= p.title %> - <%= number_to_currency(p.price) %></li>
                <% end %>
            </ul>
            <p class="bottom_hr">
  					  <%= link_to "More Addons", products_path, :class => "tool_tip", :title => "Get more Addons" %>
  					</p>				  
    		  </div>  		  
    		<% end %>
    		<h3 class="top_hr">Total Cost: <%= number_to_currency((@cart.total_price * 2) + APP["process_fee"]) %>*</h3>
    		<p>*Total cost of 1st billing includes first month and last month total monitoring fees and a one time $30.00 equipment setup fee.</p>
    		<h4>Recurring monthly bill: <%= number_to_currency(@cart.total_price) %></h4>
  		</div>
      <div id="signup_form" class="column_23">
        <%= form_for(@billing_record, :url => process_order_path, :method => "post") do |f| %>
          <div class="form_segment bottom_hr">
          <h3>
    				Account Information
    			</h3>
    			<div class="purchase_form">
    			    <div class="field">
                <%= f.label :first_name, raw("<span class='bold'>*</span> First Name") %><br />
                <%= f.text_field :first_name, :class => "tool_tip validate(required)", :title => "First Name as it appears on your credit card" %>
              </div>
              <div class="field">
                <%= f.label :last_name, raw("<span class='bold'>*</span> Last Name") %><br />
                <%= f.text_field :last_name, :class => "tool_tip validate(required)", :title => "Last Name as it appears on your Credit Card" %>
              </div>
              <div class="field">
                <%= f.label :email, raw("<span class='bold'>*</span> Email Address") %><br />
                <%= f.text_field :email, :class => "tool_tip validate(required)", :title => "Current Email Address" %>
              </div>
              <div class="field">
                <%= f.label :phone, raw("<span class='bold'>*</span> Phone Number") %><br />
                <%= f.text_field :phone, :class => "tool_tip validate(required)", :title => "Contact Phone Number" %>
              </div>
    			</div>
        </div>
          <div class="form_segment top_hr bottom_hr">
          <h3>
    				Account/Billing Address
    			</h3>
    			<div class="purchase_form">
    			    <div class="field">
                <%= f.label :address, raw("<span class='bold'>*</span> Address") %><br />
                <%= f.text_field :address, :class => "tool_tip validate(required)", :title => "Your Billing Address" %>
              </div>
              <div class="field">
                <%= f.label :city, raw("<span class='bold'>*</span> City") %><br />
                <%= f.text_field :city, :class => "tool_tip validate(required)", :title => "City" %>
              </div>
              <div class="field">
                <%= f.label :state, raw("<span class='bold'>*</span> State") %><br />
                <%= f.collection_select :state_id, State.all, :id, :abbreviation, {:prompt => "Select State"} %>
              </div>
      	      <div class="field">
      	        <%= f.label :billing_zip, raw("<span class='bold'>*</span> Billing Zipcode") %><br />
      	        <%= f.text_field :billing_zip, :class => "tool_tip validate(required)", :title => "Enter Billing Zipcode for Credit Card"%>
      	      </div>
    			</div>
        </div>
          <div class="form_segment top_hr bottom_hr">
           <h3>
     				Billing Information: - SECURE
     			</h3>
     			<div class="purchase_form">
      	      <div class="field">
      	        <%= label_tag :credit_card, raw("<span class='bold'>*</span> Credit Card Number") %><br />
      	        <%= text_field_tag :credit_card, "",:class => "tool_tip validate(required)", :title => "Enter Valid Credit Card Numbers" %>
      	      </div>
      	      <div id="cvv_form">
      	        <%= label_tag :cvv, raw("<span class='bold'>*</span> CVV"), :class => "cvv" %><br />
      	        <%= text_field_tag :cvv, "",  :class => "tool_tip validate(required)", :title => "3-4 Digit Code on Rear of Card" %>
      					<%= render :partial => 'layouts/cc_badge' %>
      	      </div>
      				<div class="clear"></div>
      	     	<div id="date_select" class="field">
      	        <%= label_tag :expiration_date, raw("<span class='bold'>*</span> Expiration Date") %><br />
      					<%= date_select("credit_card_expiration", "expiration_date", :prompt => {:year => 'Year', :month => 'Month'}, :use_short_month => true, :order => [:month, :year], :start_year => 2011,:end_year => Time.now.year + 5 ) %>
      	      </div>
      	      <div class="field">
      	        <h5><%= f.check_box :terms %> Terms of Agreement</h5>
      	        <p>by checking this box i have read agree to the <%= link_to "terms of agreement", terms_path, :target => "_blank" %></p>
      	        
      	      </div>
     			</div>
        </div>
          <div class="form_segment top_hr">
          <%= f.submit "Review Order", :class => "btn right custom_text" %>
        </div>
        <% end %>
      </div>
  </div>
</div>