<div id="banner_1" class="panel clearfix">
  <div class="column_2 column_left">
	  <h2 class="page_header">Complete Security Solutions</h2>		
    <h3>
    	The Best in Home Security Systems
    </h3>
		<p>
			The most important decision you can make regarding the safety and security of your home and family is the alarm system you choose to protect them. The alarm systems from Castle Protection, Inc. are some of the most advanced intrusion alarm systems available in the industry today. Our systems don't rely on you having a home phone line for alarm signal transmission, instead our systems use state-of-the-art cellular transmission technology. 
		</p>
		<p class="focused_text">Our systems are a simple Do-It-Yourself installation with Pre-Programmed Units.</p>
	</div>
	<div class="column_2 column_right">
	  <%= image_tag('../images/simon_alarm.png') %>
	</div>
</div>

<div id="banner_2" class="panel clearfix">
  <div class="column_2 column_left">
	  <h2 class="page_header">State-of-the-Art Technology</h2>		
    <h3>
    	Cellular Transmission
    </h3>
		<p>
			The old way of sending an alarm signal is a thing of the past. No phone lines means no phone lines to get cut, and no loss of service when you need it most, and that means so you are always assured of the signal getting sent when you need it most. With cellular transmission/technology, the call always goes out.** Upon an alarm, the signal is transmitted to a 24 hour national emergency monitoring center who then notify the local authorities for the proper response.
		</p>
		<p class="banner_disclaimer">
			**Service requires the alarm panel be in a location that has cellular coverage from ATT or T-Mobile</p>
	</div>
	<div class="column_2 column_right">
	  <%= image_tag('../images/cell_tower.png') %>
	</div>
</div>

<div id="banner_3" class="panel clearfix">
  <div class="column_2 column_left">
	  <h2 class="page_header">Complete System Control</h2>		
    <h3>
    	See Your System When You're Gone
    </h3>
		<p>
			Not at home?  No problem. With your new GE security system from Castle Protection, Inc. you can have the ability to monitor your home from anywhere. You can check system status, monitor sensor activity, arm and disarm the system, set up new user access codes and much more - All from one easy to use interface.  Use your computer or smartphone** from wherever you are and if there is a problem you'll be the first to know and you don't even need to have a phone line or internet connection at your home to accomplish it.
		</p>
		<p class="banner_disclaimer">
			**Android, iPhone, and Blackberry apps available. All others must have web access. Interactive monitoring plan required for remote access.
		</p>
	</div>
	<div class="column_2 column_right">
	  <%= image_tag('../images/controls.png') %>
	</div>
</div>

<div id="banner_4" class="panel clearfix">
  <div class="column_2 column_left">
	  <h2 class="page_header">Complete Remote Automation</h2>		
    <h3>
    	Control Locks, Lights and More!
    </h3>
		<p>
			Want to fully automate your home and integrate it with your alarm system?  We've got you covered here, too.  With Basic or Advanced interactive monitoring service, you can add lighting controls, wall plugs, appliance controllers, door locks and even thermostats.  With these devices installed, you can fully control and customize the interaction of home temperatures, remotely lock and unlock doors, turn lights on with automation, control small appliances and much much more.  What are you waiting on? Go pick out a system and <%= link_to "get started today!", packages_path %>
		</p>
	</div>
	<div class="column_2 column_right">
	  <%= image_tag('../images/automation.png') %>
	</div>
</div>
        