<div class="full_row">
	<div class="column_2">
		<h2 class="page_header">Castle Protection. Peace of Mind.</h2>
		<p>
			Securing your home has never been easier.  We have complete do-it-yourself systems and all of the state-of-the-art addon devices to customize any scenario you have.  With crime on the rise, there has never been a better time to get an alarm system and now it's more affordable than ever.
		</p>
	</div>
	<div class="column_2 cta_wrap1">
		<a class="cta_button button red_button custom_text" href="/packages">Get Started Today</a>
	</div>
</div>
<div class="full_row no_top">

</div>
<div class="full_row no_top  bottom_hr">
		<h2 class="page_header">Available Complete Alarm Packages</h2>
	<% @packages.each do |package| %>
		<div class="column_3 product_wrap">	
			<h3>
				<%= (package.name).titleize %>
			</h3>	
			<%= image_tag(package.photos.last.attachment.url(:thumb), :class => "blue_bg") %>
			<p>
				<%= package.description %>
			</p>
			<h5>This System Comes Standard With:</h5>
			<% if package.name == "Simon XT Base Package" %>
        <%= render :partial => 'products/base_package' %>
			<% elsif package.name == "Simon XT Pro Package" %>
				<%= render :partial => 'products/pro_package' %>
			<% elsif package.name == "Simon XT Pro Plus Package" %>
        <%= render :partial => 'products/plus_package' %>
			<% end %>
		</div>
	<% end %>		
</div>

<div class="full_row no_top  bottom_hr">
	<h2 class="page_header">Additional Devices to Customize Every Household.</h2>
	<% @products.each do |product| %>
		<% unless product.monitoring_addon %>
			<%= render partial: 'products/base_product_display', locals: {product: product} %>
		<% end %>
	<% end %>
	
	<% @products.each do |product| %>
		<% if product.monitoring_addon %>
			<%= render partial: 'products/base_product_display', locals: {product: product} %>
		<% end %>
	<% end %>		
</div>
<div class="full_row">
	<div class="column_2">
		<p>
			* Not all addon devices are available to all systems.<br />
			* Actual devices may differ slightly from Image shown.<br /> <%= link_to "Visit our systems page to learn more", packages_path %>
		</p>
	</div>
	<div class="column_2 cta_wrap">
		<a class="cta_button button red_button custom_text" href="/packages">Get Started Today</a>
	</div>
</div>


<% content_for :sub_boxes do %>
	<% render :partial => 'sub_boxes/blog_sub_box', :locals => {:blog => @blog} %>
<% end %>
	
