<div class="full_row">
	<div class="sub_pages">
		<h2>
			Privacy Policy
			Castle Protection, Inc. Privacy Policy (www.castleprotectioninc.com)
		</h2>
		<h3>
			Effective: January 1, 2011
		</h3>
		<h3>
			Last Updated: January 1, 2011
		</h3>
		<h4>
			General
		</h4>
		<p>
			<%= APPLICATION_NAME %> respects the privacy of every individual who visits http://castleprotectioninc.com/. <%= APPLICATION_NAME %> wants you to fully understand what information we gather about you through the Web site, how that information is collected, how that information is used and how you can control the collection and/or use of information about you. Please read this Policy carefully. 
		</p>
		<h4>
			Privacy
		</h4>
		<p>
			<%= APPLICATION_NAME %> is concerned with protecting your privacy. You may read the most recent published privacy policy (link to: Privacy Policy) statement. This policy may be changed at any time, with or without written notice. All changes to the privacy policy will be posted on this Web site. 
		</p>
		<h4>
			Personally-Identifiable Information 
		</h4>
		<p>
			There are cases where <%= APPLICATION_NAME %>  may ask you for personally-identifiable information such as your name, mailing address and email address. We may also collect information from email, letters or other correspondence that you send us. <%= APPLICATION_NAME %>  will not collect any personally-identifiable information about you unless you provide it to us voluntarily, with the exception of your computer's IP address. The IP address is an identifier unique to each computer or internet usage session. Web site users may request that <%= APPLICATION_NAME %>  not use personally-identifiable information previously provided, correct information previously provided, or remove information previously provided to <%= APPLICATION_NAME %> . If you wish to take such action, please contact us. When you do provide us with personally-identifiable information, <%= APPLICATION_NAME %>  may:
		</p>
			<ul class="block_list">
				<li>
					Store and process that information to enhance your experience with <%= APPLICATION_NAME %> so that we provide a service that is relevant and easy to use.
				</li>
			  <li>
					Use that information to contact you for informational, marketing and promotional purposes on behalf of <%= APPLICATION_NAME %> and third parties, including welcoming you back to the Web site or informing you of service enhancements or promotional items.
				</li>
			  <li>
					Disclose that information to third parties when we have reason to believe that disclosing this information is necessary to identify, contact or bring legal action against someone who may be causing injury to or interference with (either intentionally or unintentionally) <%= APPLICATION_NAME %> rights or property, other users of the Web site, or anyone else that could be harmed by such activities.
				</li>
			  <li>
					Disclose that information to third parties when we believe in good faith that the disclosure is required by law or a court of competent jurisdiction.
				</li>
			  <li>
					In addition, as <%= APPLICATION_NAME %> continues to develop its business, we may sell or buy other businesses or assets. A buyer or successor will have access to our customer lists as this information is considered a transferable business asset. Except as stated in this Policy, or as otherwise stated at the time personally-identifiable information is gathered, we will not provide personally-identifiable information to third parties.
				</li>
		</ul>
		<h4>
			Non-Personally-Identifiable Information
		</h4>
		<p>
			<%= APPLICATION_NAME %> may also collect information about you that is not personally-identifiable. Examples of this type of information may include your age, gender, interests and preferences and the type of Internet browser you are using, the type of computer operating system you are using, and the domain name of the Web site from which you linked to the Web site. <%= APPLICATION_NAME %> may share this information with advertisers, business partners, sponsors or other third parties. For example, <%= APPLICATION_NAME %> may inform a sponsor that the users of the Web site is x percent females and y percent males. This data is used to customize the Web site's content and advertising, and will deliver a better experience to our users.
		</p>
		<h3>
			Technical Security
		</h3>
		<h4>
			Children
		</h4>
		<p>
			The Web site is not directed to individuals under eighteen years of age, and <%= APPLICATION_NAME %> does not intend to collect any personally-identifiable information from such individuals.
		</p>
		<h4>
			Cookies
		</h4>
		<p>
			Cookies are electronic files on your hard drive. Cookies cannot read data off your hard drive; they store identification information about you. <%= APPLICATION_NAME %>, like the operators of many other Web sites, uses the cookies to identify you when you visit the Web site. <%= APPLICATION_NAME %> may also use the cookie to recognize you to help ensure the security of confidential information. <%= APPLICATION_NAME %> uses the information from cookies to personalize services and determine the amount and type of traffic at the Web site. Cookies also provide us with information about your clickstream, that is, the way that you navigate through the Web site, so that we can better design the Web site for your use. Most browsers allow you to disable or delete your cookies. <%= APPLICATION_NAME %> would prefer to provide you with personalized services through cookies and not all services may be available to those who disable or delete cookies. 
		</p>
		<h4>
			Links to Other Web sites
		</h4>
		<p>
			The Web site may provide links to various other Web sites. <%= APPLICATION_NAME %> assumes no responsibility for the information practices of sites you are able to access through the Web site. These links to other sites do not imply any affiliation or endorsement of a linked site. 
		</p>
		<h4>
			Security
		</h4>
		<p>
			The importance of security of all personally-identifiable information associated with our users is of utmost concern to us. Unfortunately, no data transmission over the Internet can be guaranteed to be secure. While we strive to protect your personally-identifiable information, <%= APPLICATION_NAME %> can't ensure or warrant the security of any information you transmit to us or from our on-line products or services, and you do so at your own risk. Once we receive your personally-identifiable information, we will take reasonable efforts to ensure its security on our systems. 
		</p>
		<h4>
			Contact
		</h4>
		<p>
			If you have any questions about this privacy policy, please contact us. We welcome your questions and suggestions about our privacy policy.
		</p>
		<%= render :partial => 'sub_page_footer_address' %>
	</div>
</div>