<div class="full_row">
	<div class="sub_pages">
		<h2>
			Return Policy
			Castle Protection, Inc. 
		</h2>
		<p>
			<%= APP['app_name'] %> is dedicated to providing the best possible product and service to all of our customers at the most affordable price. We do require a monitoring agreement so please make sure to read it carefully so that you understand the terms of service. Once you receive your system, if you would like to cancel the agreement and return the system to us, you must follow our cancellation procedures as stated in the agreement. The return policy is as follows: 
		</p>
		<p>
			Customer may cancel this Agreement by returning the Equipment within seven (7) days of the initial delivery date to Customer. The return package must be postmarked within 7 days of the original delivery date and returned postage paid to: 
		</p>
		<h5>
			<%= APP['app_name'] %>
		</h5>
		<ul class="address">
			<li>820 Kastrin,</li>
 			<li>El Paso, TX 79907</li>
		</ul>
		<p>
			This Agreement will not be canceled until the returned equipment is received at <%= (APP['app_name']).upcase %>. Customer shall be required to provide proof of delivery if requested. A $80.00 restocking fee, debited from Customer's account submitted as part of this Agreement, shall be assessed on all returns.
		</p>
		<p>
			The initial term of this agreement shall be 4 years, commencing on the date product is delivered to Customer. Agreement will automatically continue for successive one-year renewal terms, as allowed by law, unless  <%= (APP['app_name']).upcase %> receives a written notice of cancellation from customer via U.S. Mail or overnight mail postmarked at least thirty (30) days prior to the end of the initial term or any subsequent renewal term. Customer may be required to show proof of delivery.
		</p>
		<p>
			If you have any questions regarding our Return Policy, please contact us using the information below:
		</p>
		<%= render :partial => 'sub_page_footer_address' %>
	</div>
</div>