<% if cart.package_id || !cart.items.empty? %>
<div id="cart">
  <%= link_to "Empty Cart", empty_cart_path, :class => "empty_cart_link tool_tip", :title => "Empty Cart" %>
  <ul>
    
    <% unless cart.items.empty? %>
      <li><span><%= monthly_rate %> </span></li>
      <li><span>System Addons:</span></li>
      <% cart.items.each do |p| %>
      <li>(<%= link_to p.quantity, remove_item_path(:product_id => p.cart_item), :class => "tool_tip", :title => "Remove Item" %>) <%= p.title %> - <%= number_to_currency(p.price) %></li>
      <% end %>
    <% end %>
    
    
  </ul>
  <div class="cart_actions">
    <span>New Monthly Rate: <%= number_to_currency((current_user.monthly_rate + cart.total_price)) %></span>
    <%= link_to "Purchase Add Ons", checkout_path, :class => "btn tool_tip", :title => "Purchase Add Ons" %>
  </div>
</div>
<% end %>