<% if cart.package_id || !cart.items.empty? %>
<div id="cart">
  <%= link_to "Empty Cart", empty_cart_path, :class => "empty_cart_link tool_tip", :title => "Empty Cart" %>
  <ul>
    
    <% if cart.package_id %>
      <li class="cart_alarm_title"><span>Alarm System:</span> <%= package.name if cart.package_id %></li>
      <li><span>Included Items:</span></li>
      <% package.packaged_products.each do |pp| %>
        <li>(<%= pp.included_amount %>) <%= pp.product.item_name %></li>
      <% end %>
      <li>Monitoring Cost: <%= number_to_currency(package.price) %></li>
    <% end %>
    
    <% unless cart.items.empty? %>
      <li><span>System Addons:</span></li>
      <% cart.items.each do |p| %>
      <li>(<%= link_to p.quantity, remove_item_path(:product_id => p.cart_item), :class => "tool_tip", :title => "Remove Item" %>) <%= p.title %> - <%= number_to_currency(p.price) %></li>
      <% end %>
    <% end %>
    
    
  </ul>
  <div class="cart_actions">
    <span>Total Monthly Rate Including Tax: <%= cart_monthly_rate(cart) %></span>
    <%= link_to "Check Out", checkout_path, :class => "button red_button tool_tip", :title => "Check Out"%>
  </div>
</div>
<% end %>