<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @cart.user_id %>
</p>

<p>
  <b>Complete:</b>
  <%= @cart.complete %>
</p>


<%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %>
