<h1>Listing user_dependent_products</h1>

<table>
  <tr>
    <th>User</th>
    <th>Product</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_dependent_products.each do |user_dependent_product| %>
  <tr>
    <td><%= user_dependent_product.user_id %></td>
    <td><%= user_dependent_product.product_id %></td>
    <td><%= link_to 'Show', user_dependent_product %></td>
    <td><%= link_to 'Edit', edit_user_dependent_product_path(user_dependent_product) %></td>
    <td><%= link_to 'Destroy', user_dependent_product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User dependent product', new_user_dependent_product_path %>
