<div class="full_row no_top">
	<h2 class="page_header"><%= title %></h2>
</div>
<div class="full_row no_top monitoring_products">
	<% package.systems.each do |sys| %>
		<% if current_user %>
		  <% if category1(sys) && not_user_dependent_product(sys) %>
		    <%= render partial: 'products/user_product_addon', locals: { product: sys.product, cart: cart } %>
		  <% end %>
		<% else %>
			<% if category1(sys) %>
		    <%= render partial: 'products/product_addon', locals: { product: sys.product, cart: cart } %>
		  <% end %>
		<% end %>
	<% end %>
</div>
<h5 class="inline_notice bottom_hr">**Only one Interactive Service is required for your system, Basic or Advanced depending on which features you would like to have.</h5>

<div class="full_row no_top">
  <% package.systems.each do |sys| %>
  	<% if current_user %>
  		<% if category2(sys) && not_user_dependent_product(sys) %>
		    <%= render partial: 'products/user_product_addon', locals: { product: sys.product, cart: cart } %>
		  <% end %>
  	<% else %>
	    <% if category2(sys) %>
		    <%= render partial: 'products/product_addon', locals: { product: sys.product, cart: cart } %>
		  <% end %>
		<% end %>
	<% end %>
</div>