<%= form_for @product, :html => {:multipart => true} do |f| %>
	<%= render :partial => "layouts/error_block", :locals => {:object => @product} %>

  <div class="field">
    <%= f.label :item_name %><br />
    <%= f.text_field :item_name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :unit_number, "Item Part#" %><br />
    <%= f.text_field :unit_number %>
  </div>
	<div class="field">
	  <%= f.label :description %><br />
	  <%= f.text_area :description, :rows => 5, :cols => 30 %>
	</div>
		<%= f.fields_for :systems do |s| %>
			<div class="field">
				<h4 class="form_header">Select System Compatibility:</h4>
				<%= s.collection_select(:package_id, Package.all, :id, :name, {:prompt => "Select a System"}) %>
			</div>
		<% end %>
	<div class="field">
		<%= f.check_box :monitoring_addon %>
   	<%= f.label :monitoring_addon, "Monitoring Addon?" %>
  </div>
	<%= f.fields_for :photos do |photo_form| %>
		<div class="field">
			<%= photo_form.label :photo, "Upload an image" %><br />
			<%= photo_form.file_field :attachment, :size => 16 %>
		</div>
	<% end %>
	<div class="clear"></div>
  <div class="field">
   	<%= f.submit :class => 'btn' %>
  </div>
<% end %>
