<%= form_for @product, :html => {:multipart => true} do |f| %>
	<%= render :partial => "layouts/error_block", :locals => {:object => @product} %>

  <div class="field">
    <%= f.label :item_name %><br />
    <%= f.text_field :item_name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :unit_number, "Item Part#" %><br />
    <%= f.text_field :unit_number %>
  </div>
	<div class="field">
	  <%= f.label :description %><br />
	  <%= f.text_area :description, :rows => 5, :cols => 30 %>
	</div>
	<div class="field">
		<h4>Available to:</h4>
	</div>
	<% for package in Package.all %>
	  <div class="field">
    	<%= check_box_tag "product[package_ids][]", package.id, @product.packages.include?(package) %>
    	<%= package.name %>
  	</div>
	<% end %>
  <%= hidden_field_tag 'product[package_ids][]', "" %>
  <div class="field">
		<%= f.check_box :interactive_service %>
 		<%= f.label :interactive_service, "Interactive Service Plan" %>
  </div>
	<div class="field">
		<%= f.check_box :monitoring_addon %>
 		<%= f.label :monitoring_addon, "Monitoring Addon" %>
  </div>
  <div id="dependent_checkbox" class="field">
		<%= f.check_box :dependent_item %>
 		<%= f.label :dependent_item, "Requires Other Items" %>
  </div>
  <div class="clear"></div>
  <div id="dependent_products">
  <h3 class="page_header">Check dependent items</h3>
    <% for p in Product.all %>
  	  <div class="field">
      	<%= check_box_tag "product[dependency_ids][]", p.id, @product.dependent_products.include?(p) %>
      	<%= p.item_name %>
    	</div>
  	<% end %>
    <%= hidden_field_tag 'product[dependency_ids][]', "" %>
  </div>
	<%= f.fields_for :photos do |photo_form| %>
		<div class="field">
			<%= photo_form.label :photo, "Upload an image" %><br />
			<%= photo_form.file_field :attachment, :size => 16 %>
		</div>
	<% end %>
	<div class="field">
	 	<%= f.label :list_order, "Product Listing Order" %><br />
	 	<%= f.text_field :list_order, :size => 1 %>
	</div>
	<div class="clear"></div>
  <div class="field">
   	<%= f.submit :class => 'btn' %> <%= link_to "Cancel", admin_dashboard_path, :class => "cancel_link" %>
  </div>
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      admin.toggleDependencies();
    });
  </script>
<% end %>