<%= form_for product, :html => {:multipart => true} do |f| %>
	<%= render :partial => "layouts/error_block", :locals => {:object => product} %>
  <div class="form_section bottom_hr">
    <div class="field">
      <%= f.label :item_name %><br />
      <%= f.text_field :item_name %>
    </div>
    <div class="field">
      <%= f.label :price %><br />
      <%= f.text_field :price %>
    </div>
    <div class="field">
      <%= f.label :unit_number, "Item Part#" %><br />
      <%= f.text_field :unit_number %>
    </div>
  	<div class="field">
  	  <%= f.label :description %><br />
  	  <%= f.text_area :description, :rows => 5, :cols => 30 %>
  	</div>
  	<div class="field">
  	 	<%= f.label :list_order, "Product Listing Order" %><br />
  	 	<%= f.text_field :list_order, :size => 10 %>
  	</div>
  	<%= f.fields_for :photos do |photo_form| %>
  		<div class="field">
  			<%= photo_form.label :photo, "Upload an image" %><br />
  			<%= photo_form.file_field :attachment, :size => 16 %>
  		</div>
  	<% end %>
	</div>
	<div class="form_section top_hr bottom_hr">
  	<h4>Available to these packages:</h4>
  	<p>Check all packages that this item can be apart of.</p>
  	<% for package in Package.all %>
  	  <div class="field">
      	<%= check_box_tag "product[package_ids][]", package.id, product.packages.include?(package) %>
      	<%= package.name %>
    	</div>
  	<% end %>
    <%= hidden_field_tag 'product[package_ids][]', "" %>
  </div>
  <div class="form_section top_hr bottom_hr">
  	<h4>Combo Item Settings:</h4>
  	<p>
  	  If this item is a combo item, select the combo item checkbox. <br/>
  	  If this item can also be in a combo item, select the combo item it can become.
  	</p>
  	<div id="dependent_checkbox" class="field">
  		<%= f.check_box :combo_item %>
   		<%= f.label :combo_item, "Is a Combo Item" %>
    </div>
    <div id="dependent_checkbox" class="field">
      <%= f.label :combo_id, "Select if product can be a combo item" %>
   		<%= f.collection_select :combo_id, Product.combo_items, :id, :item_name, {:prompt => "Select Combo Product"} %>
    </div>
  </div>
  <div class="form_section top_hr bottom_hr">
  	<h4>Other Item Settings:</h4>
    <div class="field">
  		<%= f.check_box :requires_location %>
   		<%= f.label :requires_location, "Requires Location for Programming" %>
    </div>
    <div class="field">
  		<%= f.check_box :interactive_service %>
   		<%= f.label :interactive_service, "Interactive Service Plan" %>
    </div>
  	<div class="field">
  		<%= f.check_box :monitoring_addon %>
   		<%= f.label :monitoring_addon, "Monitoring Addon" %>
    </div>
    <div id="dependent_checkbox" class="field">
  		<%= f.check_box :dependent_item %>
   		<%= f.label :dependent_item, "Requires Other Items" %>
    </div>
  </div>
  
  <% if @has_dependent_products %>
    <div id="dependent_products">
  <% else %>
    <div id="dependent_products hidden">
  <% end %>
  <div class="form_section top_hr bottom_hr">  
    <h3 class="page_header">Check dependent items</h3>
      <% for p in Product.all %>
    	  <div class="field">
        	<%= check_box_tag "product[dependency_ids][]", p.id, product.dependencies.include?(p) %>
        	<%= p.item_name %>
      	</div>
    	<% end %>
      <%= hidden_field_tag 'product[dependency_ids][]', "" %>
    </div>
	</div>
	<div class="form_section top_hr">
    <div class="field">
     	<%= f.submit :class => 'btn' %> <%= link_to "Cancel", admin_dashboard_path, :class => "cancel_link" %>
    </div>
  </div>
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      admin.toggleDependencies();
    });
  </script>
<% end %>