<%= form_for @product, :html => {:multipart => true} do |f| %>
	<%= render :partial => "layouts/error_block", :locals => {:object => @product} %>

  <div class="field">
    <%= f.label :item_name %><br />
    <%= f.text_field :item_name %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :unit_number, "Item Part#" %><br />
    <%= f.text_field :unit_number %>
  </div>
	<div class="field">
	  <%= f.label :description %><br />
	  <%= f.text_area :description, :rows => 5, :cols => 30 %>
	</div>
		<%= f.fields_for :systems do |builder| %>
		<div class="field">
			<% @packages.each do |package| %>
				<%= builder.check_box :package_id %>
				<%= package.name %><br />
			<% end %>
		</div>
		<% end %>
		<div class="field">
			<%= f.check_box :monitoring_addon %>
   		<%= f.label :monitoring_addon, "Monitoring Addon" %>
  </div>
	<div class="field">
		<%= f.check_box :alarm_system %>
   	<%= f.label :alarm_system %>
  </div>
  <div class="field">
	  <%= f.check_box :addons %>
   	<%= f.label :addons %>
  </div>
	<%= f.fields_for :photos do |photo_form| %>
		<div class="field">
			<%= photo_form.label :photo, "Upload an image" %><br />
			<%= photo_form.file_field :attachment, :size => 16 %>
		</div>
	<% end %>
	<div class="clear"></div>
  <div class="field">
   	<%= f.submit :class => 'btn' %>
  </div>
<% end %>
