<div class="column_3">
	<div class="product_wrap">	
		<h3>
			<%= (product.item_name).titleize %>
		</h3>	
		<%= image_tag(product.photos.last.attachment.url(:thumb), :class => "blue_bg") %>
		<p class="money blue_text">
			Price: <%= number_to_currency(product.price) %>/Month Each
		</p>
		<p class="text">
			<%= product.description %>
		</p>
	  <div class="part bottom_hr">
	    <% if product.dependent_item? %>
	    <% pd = product.check_dependencies(@cart) %>
	      <% if pd %>
	        <ul>
	          <li class="list_title red">Required Add-ons</li>
            <% pd.each do |p| %>
              <li><%= link_to  p.item_name + " - Add", add_item_path(:product_id => p.id), :class => "tool_tip left", :title => "Add #{(p.item_name).titleize} to Cart" %></li>
            <% end %>
          </ul>
	      <% else %>
	         <%= link_to "Add to Cart", add_item_path(:product_id => product.id), :class => "tool_tip", :title => "Add #{(product.item_name).titleize} to Cart" %>
	      <% end %>
	    <% else %>
	      <%= link_to "Add to Cart", add_item_path(:product_id => product.id), :class => "tool_tip", :title => "Add #{(product.item_name).titleize} to Cart" %>
	    <% end %>
    </div>
	</div>
	<% if current_admin %>
		<%= link_to "Edit Product Item", edit_product_path(product), :class => "admin_btn" %>
	<% end %>
</div>