<div class="product_wrap">
	<% if current_admin %>
		<%= link_to "Edit Product", edit_product_path(product) %>
	<% end %>

		<%= image_tag(product.photos.last.attachment.url(:thumb), :class => "blue_bg") %>
		<h3>
			<%= (product.item_name).titleize %>
		</h3>	
		
		<p class="money blue_text">
			Price: <%= number_to_currency(product.price) %>/Month Each
		</p>

		<p class="text">
			<%= product.description %>
		</p>

	  <div class="part bottom_hr">
	    <% if product.dependent_item? %>
	    <% pd = product.check_dependencies(cart) %>
	      <% if pd %>
					<%= render partial: 'products/required_addon_links', locals: {pd: pd} %>
	      <% else %>
	         <%= render partial: 'products/add_to_cart_link', locals: {product: product} %>
	      <% end %>
	    <% else %>
	      <%= render partial: 'products/add_to_cart_link', locals: {product: product} %>
	    <% end %>
    </div>
	</div>
