<div class="full_row">
	<h2 class="page_header">GE Alarm Systems</h2>
	<% @products.each do |product| %>
		<div class="column_2">
	  	<div class="product_wrap">	
				<h3>
					<%= (product.item_name).titleize %> System
				</h3>	
				<%= image_tag(product.photos.last.attachment.url(:small), :class => "blue_bg") %>
				<p class="money blue_text">
					Price: <%= number_to_currency(product.price) %>
				</p>
				<h4 class="bottom_hr">
					Features of the <%= (product.item_name).titleize %>:
				</h4>
				<p class="top_hr">
					<%= product.description %>
				</p>
				<p>
					<%= product.unit_number %>
				</p>
			</div>
		</div>
	<% end %>		
</div>
<div class="full_row no_top">
  <div class="column_2">

  </div>
  <div class="column_2 cta_wrap">
    <%= link_to "Get Started Today", "", :class => "cta_button custom_text" %>
  </div>
</div>

<% content_for :sub_boxes do %>
	<% render :partial => 'sub_boxes/products_sub_box', :locals => {:blog => @blog} %>
<% end %>