<% content_for :banner do  %>
<div class="full_row">
	<h1 class="index_header">GE Alarm Systems</h1>
	<% @products.each do |product| %>
		<div class="column_2">
	  	<div class="product_wrap">	
				<h3>
					<%= (product.item_name).titleize %> System
				</h3>	
				<%= image_tag(product.photos.last.attachment.url(:small), :class => "blue_bg") %>
				<p class="money blue_text">
					Price: <%= number_to_currency(product.price) %>
				</p>
				<h4>
					Features of the <%= product.item_name.titleize %>:
				</h4>
				<p class="top_hr">
					<%= product.description %>
				</p>
			</div>
		</div>
	<% end %>		
</div>
<% end %>

<% content_for :sub_boxes do %>
	<% render :partial => 'sub_boxes/products_sub_box', :locals => {:blog => @blog} %>
<% end %>