<%= render partial: 'carts/cart', locals: {cart: @cart, package: @package} %>

<% if @cart.package_id %>
	<div class="full_row">
		<h2 class="page_header"><%= @package.name %></h2>
		<h3>Items included in package:</h3>
	    <ul class="package_bullets">
	    	<li>(1) - Alarm Keypad/Control Panel</li>
	    	<% @package.packaged_products.each do |pp| %>
	    	  <li>(<%= pp.included_amount %>) - <%= pp.product.item_name %></li>
	    	<% end %>
	    </ul>
	</div>
<% else %>
  <div class="full_row">
    <h2 class="page_header">Castle Protection System Add-Ons</h2>
  </div>
<% end %>

<%# Category = 1 %>
<%= render partial: 'products/category_1', locals: {package: @package, cart: @cart, title: "Interactive Service Upgrades"} %>

<%# Category 2 %>
<%= render partial: 'products/category_2', locals: {package: @package, cart: @cart, title: "Remote Control Devices"} %>

<%# Category 3 %>
<%= render partial: 'products/category_3', locals: {package: @package, cart: @cart, title: "Remote Control Upgrades"} %>

<%# Category 4 %>
<%= render partial: 'products/category_4', locals: {package: @package, cart: @cart, title: "Additional Devices"} %>

<h5>**Only one Interactive Service is required for your system, Basic or Advanced depending on which features you would like to have.</h5>


<% content_for :sub_boxes do %>
	<% render partial: 'sub_boxes/products_sub_box', locals: {blog: @blog} %>
<% end %>