<%= render :partial => 'carts/cart', :locals => {:cart => @cart} %>

<% if @cart.package %>
<div class="full_row">
	<h2 class="page_header"><%= @cart.package.name %></h2>
	<h3>Items included in package:</h3>
	  <% if @cart.package.name == "Simon XT Base Package" %>
	    <%= render :partial => "products/base_package" %>
	  <% elsif @cart.package.name == "Simon XT Pro Package" %>
	    <%= render :partial => "products/pro_package" %>
	  <% elsif @cart.package.name == "Simon XT Pro Plus Package" %>
	    <%= render :partial => "products/plus_package" %>
	  <% end %>
	<h2>Device Add-Ons</h2>
</div>
<% else %>
  <div class="full_row">
    <h2 class="page_header">Castle Protection System Addons</h2>
  </div>
<% end %>

<div class="full_row no_top">
  <% @products.each do |product| %>
    <% unless product.monitoring_addon %>
	    <%= render :partial => 'products/product_addon', :locals => { :product => product} %>
	  <% end %>
	<% end %>
</div>

<div class="full_row">
  	<h2 class="page_header">Monitoring Add-Ons</h2>
</div>

<div class="full_row no_top">
	<% @products.each do |product| %>
	  <% if product.monitoring_addon %>
	    <%= render :partial => 'products/product_addon', :locals => { :product => product} %>
	  <% end %>
	<% end %>
</div>

<p>*Actual products may vary slightly from images shown.</p>

<% content_for :sub_boxes do %>
	<% render :partial => 'sub_boxes/products_sub_box', :locals => {:blog => @blog} %>
<% end %>