<%= render :partial => 'carts/cart', :locals => {:cart => @cart, :package => @package} %>

<% if @cart.package_id %>
<div class="full_row">
	<h2 class="page_header"><%= @package.name %></h2>
	<h3>Items included in package:</h3>
    <ul class="package_bullets">
    	<li>(1) - Alarm Keypad/Control Panel</li>
    	<% @package.packaged_products.each do |pp| %>
    	  <li>(<%= pp.included_amount %>) - <%= pp.product.item_name %></li>
    	<% end %>
    </ul>
	<h2>Device Add-Ons</h2>
</div>
<% else %>
  <div class="full_row">
    <h2 class="page_header">Castle Protection System Addons</h2>
  </div>
<% end %>

<div class="full_row no_top">
  <% @products.each do |product| %>
    <% unless product.monitoring_addon || product.dependent_item %>
	    <%= render :partial => 'products/product_addon', :locals => { :product => product} %>
	  <% end %>
	<% end %>
</div>

<div class="full_row">
  	<h2 class="page_header">Dependent Add-Ons</h2>
  	<p>These system addon items require the purchase of additional monitoring addon services to make them function.  You cannot purchase these items without the additional monitoring items that are required.</p>
</div>

<div class="full_row no_top">
	<% @products.each do |product| %>
	  <% if product.dependent_item %>
	    <%= render :partial => 'products/product_addon', :locals => { :product => product} %>
	  <% end %>
	<% end %>
</div>

<div class="full_row">
  	<h2 class="page_header">Monitoring Add-Ons</h2>
</div>

<div class="full_row no_top">
	<% @products.each do |product| %>
	  <% if product.monitoring_addon %>
	    <%= render :partial => 'products/product_addon', :locals => { :product => product} %>
	  <% end %>
	<% end %>
</div>

<p class="bold">*Actual products may vary slightly from images shown.</p>

<% content_for :sub_boxes do %>
	<% render :partial => 'sub_boxes/products_sub_box', :locals => {:blog => @blog} %>
<% end %>