<%= render :partial => 'carts/cart', :locals => {:cart => @cart, :package => @package} %>

<% if @cart.package_id %>
<div class="full_row">
	<h2 class="page_header"><%= @package.name %></h2>
	<h3>Items included in package:</h3>
    <ul class="package_bullets">
    	<li>(1) - Alarm Keypad/Control Panel</li>
    	<% @package.packaged_products.each do |pp| %>
    	  <li>(<%= pp.included_amount %>) - <%= pp.product.item_name %></li>
    	<% end %>
    </ul>
	<h2>System Add-Ons</h2>
</div>
<% else %>
  <div class="full_row">
    <h2 class="page_header">Castle Protection System Add-Ons</h2>
  </div>
<% end %>

<div class="full_row no_top">
  <% @package.systems.each do |sys| %>
    <% unless sys.product.monitoring_addon || sys.product.dependent_item %>
	    <%= render :partial => 'products/product_addon', :locals => { :product => sys.product} %>
	  <% end %>
	<% end %>
</div>

<div class="full_row">
  	<h2 class="page_header">Automatable Add-Ons</h2>
  	<h4>All automatable add-ons require additional dependent add-ons for correct functionality.</h4>
</div>

<div class="full_row no_top dependent_products">
	<% @package.systems.each do |sys| %>
	  <% if sys.product.dependent_item %>
	    <%= render :partial => 'products/product_addon', :locals => { :product => sys.product} %>
	  <% end %>
	<% end %>
</div>
	<h5>**Only one Interactive Service is required for your system, Basic or Advanced depending on which features you would like to have.</h5>

<div class="full_row">
  	<h2 class="page_header">System Service Upgrades</h2>
</div>

<div class="full_row no_top monitoring_products">
	<% @package.systems.each do |sys| %>
	  <% if sys.product.monitoring_addon %>
	    <%= render :partial => 'products/product_addon', :locals => { :product => sys.product} %>
	  <% end %>
	<% end %>
</div>

<% content_for :sub_boxes do %>
	<% render :partial => 'sub_boxes/products_sub_box', :locals => {:blog => @blog} %>
<% end %>