<%= render :partial => 'carts/cart', :locals => {:cart => @cart} %>

<div class="full_row">
	<h2 class="page_header"><%= @cart.package.name %></h2>
	  <% if @cart.package.name == "Simon XT Base Package" %>
	    <%= render :partial => "products/base_package" %>
	  <% elsif %>
	    <%= render :partial => "products/pro_package" %>
	  <% elsif %>
	    <%= render :partial => "products/plus_package" %>
	  <% end %>
	<h2>Devise Add-Ons</h2>
</div>

<div class="full_row no_top">
	<%= render :partial => 'products/product_addon' %>
</div>

<div class="full_row">
  	<h2 class="page_header">Monitoring Add-Ons</h2>
</div>

<div class="full_row no_top">
  	<%= render :partial => 'products/monitoring_addon' %>
</div>

<% content_for :sub_boxes do %>
	<% render :partial => 'sub_boxes/products_sub_box', :locals => {:blog => @blog} %>
<% end %>