<% if current_user %>
<% content_for :headmeta do %>
  <%= render partial: 'users/alarm_dot_com_script' %>
<% end %>

<% content_for :sidebar do %>
  <%= render partial: 'users/dashboard_sidebar' %>
<% end %>
<%= render partial: 'layouts/internal_notifications' %>
<div id="internal_content">
	<div class="product_wrap show_view">
		<div class="column_3">
			<h3>
				<%= (@product.item_name).titleize %>
			</h3>	
			<%= image_tag(@product.photos.last.attachment.url(:small), :class => "blue_bg") %>
		</div>
		<div class="column_3">
			<p class="money blue_text price">
				Price: <%= number_to_currency(@product.price) %>/Month Each
			</p>
			<p class="extra">
				<%= @product.description %>
			</p>
			<div class="show_button">
				<%= link_to 'Back', :back, :class => 'button red_button'%>
			</div>
		</div>
	</div>
</div>


<% content_for :javascripts do %>
	<script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <script type="text/javascript">
    $(document).ready(function() {
    	Forms.infoFormToggle();
    	Stripe.setPublishableKey("<%= APP['stripe_publish_key'] %>");
    	Gateway.creditCardUpdateSubmit();
    });
  </script>

<% end %>

<% end %>

<% unless current_user %>
<div class="product_wrap show_view">
	<div class="column_3">
		<h3>
			<%= (@product.item_name).titleize %>
		</h3>	
		<%= image_tag(@product.photos.last.attachment.url(:small), :class => "blue_bg") %>
	</div>
	<div class="column_3">
		<p class="money blue_text price">
			Price: <%= number_to_currency(@product.price) %>/Month Each
		</p>
		<p class="extra">
			<%= @product.description %>
		</p>
		<div class="show_button">
			<%= link_to 'Back', products_path, :class => 'button red_button'%>
		</div>
	</div>
</div>
<% end %>