<p id="notice"><%= notice %></p>

<p>
  <b>Item name:</b>
  <%= @product.item_name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Alarm system:</b>
  <%= @product.alarm_system %>
</p>

<p>
  <b>Addons:</b>
  <%= @product.addons %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
