<h1>Listing images</h1>

<table>
  <tr>
    <th>Blog</th>
    <th>Title</th>
    <th>Image category</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @images.each do |image| %>
  <tr>
    <td><%= image.blog_id %></td>
    <td><%= image.title %></td>
    <td><%= image.image_category %></td>
    <td><%= link_to 'Show', image %></td>
    <td><%= link_to 'Edit', edit_image_path(image) %></td>
    <td><%= link_to 'Destroy', image, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Image', new_image_path %>
