<p id="notice"><%= notice %></p>

<p>
  <b>Blog:</b>
  <%= @image.blog_id %>
</p>

<p>
  <b>Title:</b>
  <%= @image.title %>
</p>

<p>
  <b>Image category:</b>
  <%= @image.image_category %>
</p>


<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
