<title><%= title %></title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="description" content="<%= h(yield(:description) || "Tracking Book is a web based application, that keeps track of all of your equipment service records and notifies you when they are about to expire. This service ultimately saves you time and money on equipment expenditures that are covered under manufactures and service company contracts.") %>">
<meta name="keywords" content="<%= h(yield(:keywords) || "warranty, repairs, services, equipment repairs, guarantees, records") %>">
<meta name="copyright" content="Copyright 2010 Tracking Book">
<meta name="title" CONTENT="Tracking Book">
<link ref="shortcut icon" href="favicon.ico"   type="image/ico" />

<%#= ******** CSS ********** %>
<%= stylesheet_link_tag 'reset-fonts-grids', 'jquiwidgets', '960', 'alerts/jquery.alerts', :cache => true %>
<%= stylesheet_link_tag 'application' %>
<!--[if IE ]>
  <link rel="stylesheet" type="text/css" href="../stylesheets/IE6.css" />
<![endif]-->

