<title><%= "Castle Protection | The Ultimate Home Security Systems" + h(yield(:title)) %> </title>
<meta charset="utf-8">
<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame 
     Remove this if you use the .htaccess -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="copyright" content="Copyright 2011 <%= APP['app_name'] %>">
<meta name="title" CONTENT="<%= APP['app_name'] %>">
<meta name="description" content="">
<meta name="author" content="">
<!--  Mobile viewport optimized: j.mp/bplateviewport -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Place favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">

<%#= ******** CSS ********** %>
<%= stylesheet_link_tag 'application', 'internal' %>

<meta name="csrf-token" content="<%= form_authenticity_token %>" />
<meta name="csrf-param" content="authenticity_token" />
<script type="text/javascript" src="http://fast.fonts.com/jsapi/f1c4c40a-111d-4274-bd22-fda9c34552a7.js"></script>
<%= yield :headmeta %>
<!-- All JavaScript at the bottom, except for Modernizr which enables HTML5 elements & feature detects -->
<%= javascript_include_tag "preload" %>