<div id="main_nav" class="main_nav">
	<ul class="nav_ul">
		<li><%= link_to "Home", root_path %></li>
		<li class="products"><%= link_to "Products", products_path %></li>
		<li><%= link_to "About", root_path %></li>
		<li><%= link_to "Blog", blogs_path %></li>
		<li class="last"><%= link_to "Contact", root_path %></li>
	</ul>
</div>