<div id="main_nav" class="main_nav">
	<ul class="nav_ul">
		<li><%= link_to "Home", root_path %></li>
		<li class="products"><%= link_to "Systems", packages_path %></li>
		<li><%= link_to "Blog", blogs_path %></li>
		<li><%= link_to "Contact", contact_path %></li>
		<li class="last"><%= login_logout_link %></li>
	</ul>
</div>