<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <%= render :partial => "layouts/headmeta" %>
</head>
<body class="yui-skin-sam">
  <!-- Application Layout -->
  <div id="wrapper" class="container_12">
    <%= render :partial => 'layouts/flash', :locals => {:flash => flash} %>
	  <header class='grid_12 alpha omega'>
      <%= render :partial => "layouts/header" %>
	  </header>
    <div id="bd" class="grid_12 alpha omega">
      <div id="banner" class="grid_12 alpha omega">
        <%= yield :banner %>
      </div>
      <div class="main_content grid_12 alpha omega">
        <%= yield %>
      </div>
      <div id="sub_boxes" class="grid_12 alpha omega">
        <%= yield :sub_boxes %>
      </div>
    </div>
    <footer class="grid_12 alpha omega">
      <%= render :partial => "layouts/footer" %>
    </footer>
    <div class="clear"></div>
	</div>  
	<%= render :partial => "layouts/scripts" %>
</body>
</html>
